:host {
   display: grid;
   grid-gap: 48px;
   grid-template-columns: 380px 1fr;
   padding: 24px;
}

.profile-form-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border: 1px solid var(--light-color);
   background-color: var(--dark-color);
   padding: 32px;
   height: calc(100dvh - (24px * 4));
}

.profile-form {
   display: grid;
   grid-gap: 20px;
}

.two-columns {
   display: grid;
   grid-gap: 20px;
   grid-template-columns: 1fr 1fr;
}

.action-buttons {
   display: flex;
   justify-content: space-between;
}

.delete-btn {
   color: #E99898;
   padding: 12.5px 16px;

   svg {
      width: 10px;
      height: 12px;
   }
}

.exit-btn {
   padding: 12.5px 14px;

   svg {
      width: 14px;
      height: 12px;
   }

}

.btn-white {
   border: 1px solid var(--light-color);
   box-sizing: border-box;
}

.cancel-button {
   max-width: 91px;
   border: 1px solid var(--light-color);
   background-color: var(--dark-color);
   color: var(--light-color);
   line-height: 22px;
}

.save-button {
   max-width: 116px;
}
